/*
================================================================

                RESPONSIVE STYLING HERE

================================================================
*/


@media (max-width: 575px) {

.hide-sm{display: none;}

section {
	padding: 20px 0px;
}
.big-title,
.section-title h3 {
	font-size: 1.4em;
}

.navbar-toggler {
	background-color: #ffffff;
	color: #525454;
}
.navbar {
	width: 100%;
	text-align: left;
}
.navbar-nav {
	padding-right: 0px;
	background: #ffffff;
}
.navbar-nav li {
	margin: 0px 0px;
}
.navbar-nav li a {
	clip-path: none;
}
.navbar-nav .active a, .navbar-nav li a:hover {
	background: #525454;
	color: #ffffff;
}
.searchBar {
	width: 80%;
}
.title-text form input[type="search"] {
	font-size: 18px;
	padding: 16px 18px;
}
.title-text form input[type="submit"] {
	top: 28px;
}

.head-logo a img {
	width: 180px;
	margin: 0 auto;
	display: block;
}

.title-text {
	padding-top: 40%;
	width: 100%;
}
.title-text .main-title {
	font-size: 2em;
}

.single-product {
	margin-bottom: 20px;
}
.single-product .product-detail {
	padding: 0px;
}
.single-product .product-detail .product-price {
	bottom: 0;
	top: unset!important;
}

#newsletter .newsletter-form input {
	padding: 0px 8px;
	font-size: 16px;
}

.footer-widget{
	text-align: center;
	margin-bottom: 20px;
}
#footer .footer-link li {
	margin-left: 0px; 
}

.mission-vision .icon-area ,
.mission-vision .text-area {
	height: 30vh;
}
.vision-text-area{
	order: 2;
}

}


@media (min-width: 576px) and (max-width: 767px) {

.hide-sm{display: none;}

section {
	padding: 30px 0px;
}

.head-logo {
	text-align: center;
}
.head-navbar{
	text-align: center;
}
.title-text form input[type="search"] {
	font-size: 18px;
	padding: 16px 18px;
}
.title-text form input[type="submit"] {
	top: 28px;
}

.big-title,
.section-title h3 {
	font-size: 1.8em;
}

.title-text {
	padding-top: 30%;
	width: 100%;
}
.title-text .main-title {
	font-size: 2.2em;
}

.single-product {
	margin-bottom: 20px;
}
.single-product .product-detail {
	padding: 0px;
}
.single-product .product-detail .product-price {
	bottom: 0;
	top: unset!important;
}

.footer-widget{
	text-align: center;
	margin-bottom: 20px;
	padding-left: 6px;
	padding-right: 6px;
}
#footer .footer-link li {
	margin-left: 0px!important; 
}

.vision-text-area{
	order: 2;
}



}


@media (min-width: 768px) and (max-width: 991px) {

section {
	padding: 40px 0px;
}

.head-logo a img {
	width: 180px;
}
.navbar {
	padding: 0.8rem 0rem;
}
.navbar-nav li a {
	padding: 8px 15px !important;
}
.title-text .main-title {
	font-size: 2.5em;
}


.title-text {
	padding-top: 16%;
	width: 100%;
}

.single-product {
	margin-bottom: 20px;
}
.single-product .product-detail {
	padding: 0px;
}
.single-product .product-detail .product-price {
	bottom: 0;
	top: unset!important;
}

.footer-widget{
	padding-left: 6px;
	padding-right: 6px;
}
#footer .footer-link li {
	margin-left: 0px!important; 
}

#product .all-categories .single-category {
	padding: 30px 10px;
}

}




@media (min-width: 992px) and (max-width: 1199px) {

.title-text {
	padding-top: 12%;
	width: 80%;
}

}



@media (min-width: 1200px) { 



}
