/*
..................................................................
        Initiative CSS code for RDC     
..................................................................
*/
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

*:focus {
  outline: none !important; 
}

input {
    min-width: 100%;
    max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  margin: auto !important;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  letter-spacing: .2px;
  word-wrap: break-word; 
  background-color: #ABB2CC;
}

p{
  margin-bottom: 0px;
}

img {
  max-width: 100%;
  border: none;
  height: auto; }

.transition {
  -webkit-transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -ms-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s; }

button,
a,
i {
  text-decoration: none !important;
  -webkit-transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -ms-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  cursor: pointer; }

button:hover,
a:hover,
i:hover {
  text-decoration: none !important;
  -webkit-transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -ms-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  cursor: pointer; }

a:focus {
  outline: none !important; }

a:active {
  text-decoration: none !important; }

textarea:focus, input:focus {
  outline: 0; }

select:focus {
  outline: none !important; }

/*Global CSS */
.page-container{
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
}
.pagebar{
  background: #4F37B3;
  border-radius: 15px;
  padding-top: 30px;
}
.page{
    background: #ffffff; 
    border-radius: 15px;
    padding: 15px 20px;
}
.page-container .head{
  margin:10px 0px;
}

/*Button Styling */
.btn{
  background: #4F37B3;
  width: 100%;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
  padding: 10px;
}
.btn-lightblue{
  background: #5E60D7;
}
.btn:hover{
  color: #ffffff;  
}
.small-btn{
  width: fit-content;
  text-transform: capitalize;
  margin: 0 auto;
  padding: 8px 24px;
}
.gray-btn{
  background: #E8ECED;
  color: #333333;
}
.gray-btn:hover{
  color: #333333;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #f9f9f9;
    border: 1px solid #e4e4e4;
    border-radius: 0;
    resize: none;
    outline: 0;
    max-width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    color: #666;
    height: 46px;
    line-height: 1.6em;
    width: 266px;
    font-family: inherit;
    background-color: #fff;
    border: 2px solid #ececec;
    border-radius: 0px;
    margin-bottom: 15px;
}

.page .table tr td{
  font-size: 14px;
  border-bottom-width:0px;
}

.rounded-10{
  border-radius: 10px;
}
.rounded-15{
  border-radius: 15px;
}
.rounded-0{
  border-radius: 0px;  
}

.transparent{
  background: transparent;
}

.tag{
  display: inline-block;
  background: #ffffff;
  padding: 0px 15px;
  font-size: 13px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #153E62;
  font-weight: bold;
  box-shadow: 0px 2px 80px #153E62;
}


/*
......................
Header styles    
......................
*/
body.no-scroll {
  overflow-y: hidden; 
}

body.no-scroll .rdc-main-container,
body.no-scroll header,
body.no-scroll .footer {
  -moz-transform: translate(80px);
  -webkit-transform: translate(80px);
  transform: translate(80px);
  right: 0;
  -o-transition: transform 0.35s ease-out;
  -webkit-transition: transform 0.35s ease-out;
  -moz-transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out; }

.sidebar-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f8fa;
  position: fixed;
  z-index: 3;
  display: none;
  cursor: e-resize;
  opacity: 0.3; }

.sidebar {
  position: fixed;
  color: #020202;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  max-width: 340px;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  box-shadow: -1px 0 35px 7px rgba(0, 0, 0, 0.06);
  border-left: 1px solid #e7e7e7; 
}


.sidebar.sidebar-closed {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); 
}

.sidebar a {
  color: #737373; }

.sidebar a:hover,
.sidebar a:focus {
  color: #020202; 
}

.sidebar-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh; 
}

.sidebar-scroll {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; 
}
.sidebar-open{
  display: inline-block;
  color: #ffffff;
  margin-right: 10px;
}
.sidebar-close i,
.sidebar-open i{
  cursor: pointer; 
  font-size: 32px;
}
.sidebar-open-icon{
  display: inline-block;
}
.sidebar-close-icon{
  text-align: right;
  position: absolute;
  right: 10px;
  z-index: 999;
  color: #ddd;
  font-size: 12px;
}
.sidebar-close-icon i{
  font-size: 16px;
}

.sidebar-close:hover,
.sidebar-close:focus,
.sidebar-open:hover,
.sidebar-open:focus {
  color: #F56B08; 
}

.header{
  background-color: #2B2B2B;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.header .header-content{
    display: flex;
  align-items: center;
}
.header .site-title{
  color: #ffffff;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}




/*
......................
Sidebar Content styles    
......................
*/
.profile-head{
  background: #1EA2F5;
  padding: 15px;
  padding-top: 30px;
  position: relative;
  bottom: 0;
  min-height: 150px;
}
.profile-head--content {
  background: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  bottom: -80px;
  left: 15px;
  right: 15px;
}
.profile-head--content h3{
  margin-bottom: 0px;
}
.profile-head--content img{
  border-radius: 20px;
  position: relative;
  top: -15px;
}

.sidemenu{
  margin-top: 80px;
}
.sidemenu ul{
  padding: 0px;
}
.sidemenu ul li{
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.sidemenu ul li a{
  width: 100%;
  display: block;
  padding: 10px 15px;
}
.sidemenu ul li a:hover{
  background: #C3C6D8;
}
.sidemenu ul li a i{
  margin-right: 4px;
}
.sidemenu ul li a .text-end{
  float: right;
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 480px) { 
  .sidebar{
    max-width: 100%;
  }
  .page-container{
    width: 100%;
  }

}

@media (max-width: 768px) { 
  .header .site-title{
    text-align: center;
    width: 100%;
    position: relative;
    left: -20px;
  }

}