

/* Main */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Graphik, basis-grotesque, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #1e2223;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  position: relative;
  overflow-x: hidden;
  color: #c3c3c3;

}

img{
    max-width:100%;
    border:none;
    height:auto;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

p{
  line-height: 18px;
}

a:visited {
  color: white;
}

input,
textarea,
button {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 16px;
  font-family: Graphik;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: 0;
}

input,
textarea {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

::-moz-selection {
  background: #d3bf7a;
  color: black;
}

::selection {
  background: #d3bf7a;
  color: black;
}

::-moz-selection {
  background: #d3bf7a;
  color: black;
}
body,
div,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4 p,
header,
html,
li,
nav,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}
/*************/

.nopadding{
  padding: 0px!important;
}
.font-weight-100{
  font-weight: 100!important;
}
.pera {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
.flux-btn{
  border: 1px solid #d3bf7a;
  padding: 25px 40px;
  border-radius: 40px;
}

/*************/

/* Generals */
.container {
  padding: 0 20px;
  margin: auto;
}

.button {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 18px;
  max-width: 475px;
  font-family: Aktiv;
  font-weight: 300;
}

.title {
  font-family: Aktiv;
  font-size: 14px;
  font-weight: 500;
}

.letter {
  -webkit-transform: rotateX(-60deg) skewX(6deg);
  transform: rotateX(-60deg) skewX(6deg);
  -webkit-transition: opacity 0.4s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.4s linear, -webkit-transform 0.3s linear;
  -o-transition: opacity 0.4s linear, transform 0.3s linear;
  transition: opacity 0.4s linear, transform 0.3s linear;
  transition: opacity 0.4s linear, transform 0.3s linear,
    -webkit-transform 0.3s linear;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: inline-block;
  opacity: 0;
}

.letter.visible {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.spacing {
  margin-left: 0.75rem;
  word-break: break-all;
  display: inline-block;
}
/*************/

/* Elements */
#navbar {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 20px 20px;
  font-family: Aktiv;
  color: white;
  font-size: 20px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-bottom: 0.8px solid #979797;
}

#navbar .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1350px;
}

#navbar.white {
  background-color: white;
}

#navbar.white a {
  color: black;
}

#navbar.white li span {
  color: black;
}

.menu ul li{
  display: inline-block;
  padding: 30px 20px;
  border-left: 1px solid #979797;
  text-align: center;
}
.menu ul li:first-child{
  border-left: 0px solid #979797;
}
.menu ul li #header-description{
  font-weight: 100;
  text-transform: uppercase;

}
.menu ul li #header-description:hover{
  text-decoration: none;
  color:#fff;
}

.logo {
  margin: 0px auto;
  display: flex;
  align-items: center;
  align-self: center;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 34px;
}

.logo a{
  margin-top:10px;
  display: block;
}

.logo a:hover {
  color: #d3bf7a;
  text-decoration: none;
}

.media {
  /*margin-left: auto;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.media ul{
  list-style-type: none;
}
.media ul li{
  display: inline;
   margin-left: 25px;
}
.media ul li a{
  display: inline-block;
    -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 14px;
  cursor: pointer;
}

.media ul li a:hover{
  color:#fff;
}

.media-button {
  font-size: 14px;
  cursor: pointer;
  height: 100%;
}

.cart{
  border-left: 0.8px solid #979797;
  padding: 37px 20px 20px;
  font-family: 'Aktiv';
  margin-left: 25px;
}

.media-button a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;



}
.cart ul li a i{
  font-size: 14px;
}
.cart ul li{
  margin-left:10px;
}

.media-button a:hover,
#navbar.white .media-button a:hover {
  color: #d3bf7a;
}

.media-button + .media-button {
  margin-left: 25px;
}

#header {
  position: relative;
}

#video-element {
  display: block;
}

#header-video {
  position: relative;
  background-color: #1e2223;
  max-height: 650px;
  overflow: hidden;
  height: 100%;
}

#header-video video,
#header-video canvas {
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 55vw;
}

#header-video-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;

background: rgba(30,34,35,0.45);
background: -moz-radial-gradient(center, ellipse cover, rgba(30,34,35,0.66) 0%, rgba(30,34,35,0.99) 99%, rgba(30,34,35,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(30,34,35,0.45)), color-stop(99%, rgba(30,34,35,0.99)), color-stop(100%, rgba(30,34,35,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(30,34,35,0.66) 0%, rgba(30,34,35,0.99) 99%, rgba(30,34,35,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(30,34,35,0.66) 0%, rgba(30,34,35,0.99) 99%, rgba(30,34,35,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(30,34,35,0.66) 0%, rgba(30,34,35,0.99) 99%, rgba(30,34,35,1) 100%);
background: radial-gradient(ellipse at center, rgba(30,34,35,0.66) 0%, rgba(30,34,35,0.99) 99%, rgba(30,34,35,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2223', endColorstr='#1e2223', GradientType=1 );

}

#header-video-gradient-bottom {
  width: 100%;
  height: 350px;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(60%, #1e2223b0),
    to(#1e2223)
  );
  background: -o-linear-gradient(transparent, #1e2223b0 60%, #1e2223);
  background: linear-gradient(transparent, #1e2223b0 60%, #1e2223);
}

#header-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-top: 80px;
  color: white;
  align-items: center;
  text-align: center;
}

#header-bar{
  background-color: #d3bf7a;
  color: #d3bf7a;
  height: 1px;
  width: 80px;
  display: block;
  margin: 30px;
  margin-bottom: 35px;
}

@-webkit-keyframes slideInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

#header-main-text .letter {
  font-size: 58px;
  line-height: 54px;
}

#header-main-text br + .spacing {
  display: none;
}

.effect-text {
  margin-left: -5px;
  font-family: Aktiv;
  color: white;
  font-size: 0;
}

.effect-text .letter {
  font-size: 30px;
}

.effect-text > .effect {
  -webkit-text-stroke-color: #d3bf7a;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.75px;
}

#header-description {
  opacity: 0;
  -webkit-animation: slideInFromTop 0.5s ease forwards;
  animation: slideInFromTop 0.5s ease forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  font-size: 11px;
  letter-spacing: 3px;
  margin-top: 10px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#header-buttons {
  opacity: 0;
  -webkit-animation: fadeIn 2s ease forwards;
  animation: fadeIn 2s ease forwards;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Circular;
  margin-top: 25px;
}

#header-buttons .button {
  padding: 10px 20px;
  font-size: 13px;
}

#header-buttons i {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-right: 8px;
  font-size: 12px;
}

#header-buttons .button:hover i {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#go-to-shop {
  background-color: black;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#go-to-shop:hover {
  background-color: rgb(20, 20, 19);
}

#watch-video {
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#watch-video:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.topics {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 25px;
}

#main-topics {
  padding: 50px 0;
}

#latest-merchandise {
  margin-top: -30px;
  z-index: 10;
  position: relative;
}

#latest-merchandise > .text {
  line-height: 25px;
  margin-top: 15px;
  color: #c3c3c3;
  font-size: 14px;
  max-width: 100%;
}



#hidden2 {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease forwards;
  animation: fadeIn 0.5s ease forwards;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

#hidden3,
#hidden4,
#hidden6,
#hidden7,
#hidden8,
#hidden9,
#hidden10,
#hidden11,
#hidden12 {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

#hidden5 {
  opacity: 0;
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  -o-transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}

#hidden2.visible,
#hidden3.visible,
#hidden4.visible,
#hidden6.visible,
#hidden7.visible,
#hidden8.visible,
#hidden9.visible,
#hidden10.visible,
#hidden11.visible,
#hidden12.visible {
  opacity: 1;
}

#hidden5.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

#video-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #1e2223ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
  -o-transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#video-popup.visible {
  opacity: 1;
  visibility: visible;
}

#main-video-container {
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#video-popup-close {
  padding-bottom: 10px;
  padding-right: 20px;
  color: white;
  z-index: 50;
  font-size: 24px;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out,
    -webkit-transform 0.5s ease-out;
  -webkit-transform: translateY(-350px);
  -ms-transform: translateY(-350px);
  transform: translateY(-350px);
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.329);
  cursor: pointer;
}

#video-popup.visible #video-popup-close {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

#main-video {
  width: calc(100% - 40px);
  margin: auto;
  background-color: black;
  max-height: 100%;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out,
    -webkit-transform 0.5s ease-out;
  -webkit-transform: translateY(-350px);
  -ms-transform: translateY(-350px);
  transform: translateY(-350px);
  opacity: 0;
}

#video-popup.visible #main-video {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

/*
-----------------------
OWL carousel style
-----------------------
*/
.owl-nav{
  position: absolute;
  top: -60px;
  right: 0;
}
.owl-carousel-2 {
  margin-top: 80px;
}
.owl-carousel-2 .owl-item div{
  margin: 0px 12px!important;
}
.owl-carousel-2 .owl-nav{
  position: relative;
  left: 0px!important;
  text-align: left!important;
  margin-top: 30px;
  bottom: -34px;
  top: auto;
  width: 10%;
}

.owl-carousel-2 .owl-dots {
  width: 85%;
  position: absolute;
  left: 10%;
  text-align: left !important;
}
.owl-theme .owl-dots .owl-dot span{
  display: none!important;
}
.owl-nav .owl-prev, .owl-nav .owl-next{
  width: 40px;
  height: 40px;
  border: 1px solid #d3bf7a!important;
  border-radius: 50%!important;
  margin-left: 5px;
}
.owl-carousel .content{
  text-align: center;
}
.owl-carousel .content .title{
  text-transform: uppercase;
  margin-top: 2.2rem;
  font-size: 22px;
  line-height: 22px;
}
.owl-carousel .content .bar, #bar{
  background-color: #d3bf7a;
  color: #d3bf7a;
  height: 1px;
  width: 30px;
  display: block;
  margin: 10px auto;
}
#bar{
  display: inline-block;
  margin: 15px auto;
  margin-bottom: 30px;
}
.owl-carousel .content small, .small-title{
  font-weight: 100;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.owl-carousel-2 .owl-dots {
  background: none;
}
.owl-carousel-2 .owl-dot {
    background: #35393A!important;
    width: 25%;
    height: 1px;
}
.owl-carousel-2 .owl-dot.active {
  background: #d3bf7a!important;
}

.owl-theme .owl-nav [class*=owl-]:hover, .owl-nav [class*=owl-]:hover {
    background: #d3bf7a!important;
    color: #000000!important;
    text-decoration: none;
}

/*
-----------------------
FAQ style
-----------------------
*/
#faq {
  border-left: 0.8px solid #35393A;
  padding-left: 5rem;
}
#faq h4{
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}
#faq .pera{
  font-size: 14px;
}
#faq li{
  list-style: none;
}
#faq li i {
  position: absolute;
  left: 60px;
}

.title-bar{
  height: 1px;
  content: '';
  width: 39%;
  background-color: #35393A;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 17px;
}

/*
-----------------------
More Explore style
-----------------------
*/
#m-content-1{
  position: absolute;
  bottom: -10%;
  left: 15%;
}
#m-content-2{
  position: absolute;
  bottom: -14%;
  left: 15%;
}

/*#video-content{
  background-image: url('../img/bottommodel.png');
  height: 80vh;
}*/
#mid-content{
  background-image: url('../img/imgpsh_fullsize_anim.png');
  position: relative;
}
/*.bg-cover{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}*/

/*#exclusive-content, */
#x-flux{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;  
}



/* footer video area*/




#video-content {
  background-image: url('../img/bottommodel.png');
  /* height: 80vh; */
  padding: 20px;
  margin-bottom: 200px;
  margin-top:50px;
}
.bg-cover{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.borderaround {
  width: 100%;
  height: 100%;
  border: 1px solid #979797;
  margin: 0px auto;
  padding: 0;
}

.foexcontentarea{
  background:#fff;
  
  position: relative;
  bottom:-140px;
}

.foexcontentarea .title-part{
  padding: 70px;
  margin-bottom: 0px;
}

.foexcontentarea .small-title,
.foexcontentarea .effect-text .letter {
  color:black!important;
}


.fexcontenvideo{
  display: flex;
  align-items: center;
  margin-left: -100px;

}
.flexvidimage{}
.flexvidimage img{}
.flexvideteaser{
  margin-left: -25px;
}
.flexvideteaser ul{}
.flexvideteaser ul li {
  display: inline;
  margin-right: 15px;
  text-transform: uppercase;
  color: #9b9b9b;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 300;
}
.flexvideteaser ul li img{
  display: inline-block;
}
.flexvideteaser ul li span {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #c3c3c3;
}



.paddingLessRight{
  padding-right:0px!important;
  margin-right:0px;
}

.PaddingLesLeft{
  padding-left:0px!important;
}


.owl-carousel .owl-nav{
  padding-right:25px;
  margin-right:25px;
}











/*
--------------
Footer style
---------------
*/
footer {
    display: block;
    margin-top: 80px;
    border-top: 1px solid #35393A;
}
footer ul li{
  display: inline-block;margin-right: 25px;
}
footer .small-title{
  font-size: 9px!important;
}
footer .copyright .small-title {
  font-size: 9px!important;color:#666666; 
}


/*******

====================================================

  RESPONSIVE CSS 
====================================================
******/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    padding: 0 25px;
  }

  #header-main-text .letter {
    font-size: 60px;
    line-height: 56px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #header-text {
    margin-top: 30px;
  }

  #header-description {
    margin-top: 10px;
  }

  #header-main-text .letter {
    font-size: 75px;
    line-height: 75px;
  }

  .effect-text .letter {
    font-size: 55px;
    line-height: 52px;
  }

  .small-effect-text .letter {
    font-size: 45px;
    line-height: 42px;
  }

  .container {
    max-width: 768px;
  }

 
  #main-video-container {
    max-width: 718px;
  }

  .spacing {
    margin-left: 1.5rem;
  }

  #header-main-text br + .spacing {
    display: inline-block;
  }

  #header-main-text br {
    display: none;
  }

  #latest-merchandise > .text {
    margin-top: 10px;
    font-size: 18px;
    max-width: 475px;
    line-height: 28px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .contact-form {
    margin: 0;
    margin-top: 35px;
  }

  #footer .follow-us {
    padding-right: 10px;
  }
}

/* Ultra large devices (large desktops, 1348px and up) */
@media (min-width: 1348px) {
  .container {
    max-width: 1375px;
  }


}

