/*
..................................................................
        Initiative CSS code for RDC     
..................................................................
*/
@font-face {
    font-family: 'rdcFont';
    src: url('../fonts/geomanist-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/geomanist-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/geomanist-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/geomanist-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/geomanist-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
  * {
      margin:0;
      padding:0;
  }
  
  * {
      box-sizing: border-box;
  }
  
  *:focus{
      outline:none !important;
  }
  
  body{
      font-family: 'rdcFont','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 15px;
      font-size: .9375rem;
      line-height:1.6em;
      font-weight: 400;
      margin: auto !important;
      overflow-x: hidden;
      color: #4d4d4d;
      -webkit-font-smoothing: antialiased;
      width:100%;
      letter-spacing: .2px;
      word-wrap: break-word;
  }
  
  img{
      max-width:100%;
      border:none;
      height:auto;
  }
  
  .transition{
      -webkit-transition: all 0.9s ease 0s;
      -moz-transition: all 0.9s ease 0s;
      -ms-transition: all 0.9s ease 0s;
      -o-transition: all 0.9s ease 0s;
      transition: all 0.9s ease 0s;
  }
  button,
  a,
  i{
      text-decoration:none !important;
      -webkit-transition: all 0.9s ease 0s;
      -moz-transition: all 0.9s ease 0s;
      -ms-transition: all 0.9s ease 0s;
      -o-transition: all 0.9s ease 0s;
      transition: all 0.9s ease 0s;
      cursor: pointer;
  }
  button:hover,
  a:hover,
  i:hover{
      text-decoration:none !important;
      -webkit-transition: all 0.9s ease 0s;
      -moz-transition: all 0.9s ease 0s;
      -ms-transition: all 0.9s ease 0s;
      -o-transition: all 0.9s ease 0s;
      transition: all 0.9s ease 0s;
      cursor: pointer;
  }
  a:focus{
      outline:none !important;
  }
  a:active{
      text-decoration:none !important;
  }
  
  textarea:focus, input:focus{
      outline: 0;
  }
  
  select:focus{
      outline:none !important;
  }
  

  /*
COMMON UTILITIES
----------------
*/
.inline-list {display: inline;}

.inline-list p,
.inline-list li{ display: inline-block; }

.pull-left{float: left}
.pull-right{ float: right; }

.display-table{display: table;height: 100%;width: 100%;}
.display-table-cell{display: table-cell;vertical-align: middle;}

.padding-less{padding: 0px!important;}
.margin-less{margin: 0px!important;}

/* flex */
%flex{
    text-align:center;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:row; 
}

%gradient {
    background: $color-brand;
    background: linear-gradient(
        to right,
        rgb(213, 1, 50),
        rgb(242, 32, 39)
      )
      rgb(234, 9, 9);
}