/*
..................................................................
  	    Global CSS code for RDC theme  
        Spacing / Animations / RDC Col Box  
..................................................................
*/
.mid-box {
  top: -25px;
  position: relative;
}
/*
SPACING
------------
*/
ul {
  padding: 0px !important;
  margin: 0px !important;
  list-style: none;
}
p {
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  p {
    margin: 0 0 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px !important;
}

.spacing-150 {
  padding: 150px 0px;
}
.spacing-100 {
  padding: 100px 0px;
}
.spacing-50 {
  padding: 50px 0px;
}

.spacing-top-50 {
  padding-top: 50px;
}
.spacing-top-100 {
  padding-top: 100px;
}
.spacing-top-150 {
  padding-top: 150px;
}

.spacing-bottom-50 {
  padding-bottom: 100px;
}
.spacing-bottom-100 {
  padding-bottom: 100px;
}
.spacing-bottom-150 {
  padding-bottom: 150px;
}

// Section Header Spacing
%section-header,
.section-header {
  padding-bottom: 70px;
  &--page {
    padding-bottom: 30px;
  }
}

/*
  BOX STYLE 
--------------
*/
%box-main,
.box-main {
  background-color: $color-light;
  display: block;
  border-radius: 5px;
  margin: 15px 0px;
  & .box-banner {
    max-height: 200px;
    overflow: hidden;
    clear: both;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    color: $color-light;
    & img {
      width: 100%;
      height: auto;
    }
    & .box-banner-content {
      position: absolute;
      background: $color-brand-secondary-lighter;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: left;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      & i {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 50px;
        border-radius: 4px;
      }
    }
  }
  & .box-content {
    padding: 20px;
    color: #404040;
    & p {
      margin-bottom: 0px;
    }
    & .title-sub {
      display: block;
      margin-bottom: 10px;
      position: relative;
      &::before {
        display: block;
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        left: -20px;
      }
    }
    & .box-content-title {
      padding-bottom: 15px;
    }
  }
  & .box-footer {
    padding: 0px 20px 10px;
    display: flex;
    justify-content: space-between;
    & .box-footer-parts {
      opacity: 0;
      color: $color-dark;
      font-weight: 600;
      background-color: $color-brand-secondary-lighter;
      padding: 2px 10px;
      margin-bottom: 0px;
    }
  }
  &:hover {
    box-shadow: 0 40px 100px $color-brand-secondary-lighter;
    transition: all ease-in-out 0.3s;
    transform: translateY(-10px);
    & .box-footer-parts {
      opacity: 1;
    }
    & .button-icon i {
      margin-left: 10px;
      transition: all ease-in-out 0.3s;
    }
  }
}

.box-black {
  background-color: #16252c;
  & .box-content {
    color: #cad7dc;
    font-weight: normal;
  }
  & .button-icon {
    color: #cad7dc;
  }
  & .box-footer {
    &-parts {
      background-color: $color-brand-secondary !important;
      color: #cad7dc !important;
    }
  }
}
.blog-video {
  & .box-footer {
    &-parts {
      background-color: $color-brand !important;
    }
  }
}

.shopify {
  & .box-banner-content {
    & i {
      background: rgba(145, 185, 70, 0.4);
    }
  }
  & .box-content .shopify-color::before {
    background: $color-shopify;
  }
  &:hover {
    .box-banner-content i {
      background: $color-shopify;
    }
  }
}

.wordpress {
  & .box-banner-content {
    & i {
      background: rgba(32, 113, 150, 0.4);
    }
  }
  & .box-content .wordpress-color::before {
    background: $color-wordpress;
  }
  &:hover {
    .box-banner-content i {
      background: $color-wordpress;
    }
  }
}

.react {
  & .box-banner-content {
    & i {
      background: rgba(94, 212, 243, 0.4);
    }
  }
  & .box-content .react-color::before {
    background: $color-react;
  }
  &:hover {
    .box-banner-content i {
      background: $color-react;
    }
  }
}
